.hero-banner {
    position: relative;
    box-sizing: border-box;
    background-color: $primary-blue;
    text-align: right;
    background-image: url('assets/img/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 50vw;
    padding-top: 50vw;
    .cover-and-save-roundal {
        position: absolute;
        background-image: url('../assets/svg/roundal.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 181px;
        right: 370px;
        z-index: 999;
        top: -50px;

        p {
            width: 250px;
            color: white;
            padding: 14px 61px 18px 32px;
            text-align: center;
            font-size: 12pt;
        }
    }
    #banner-quote {
        
        .inner {

            font-size: 35px;

            .heading-bottom-text {
                font-size: 50px;
                font-weight: 600;
            }
        }
        .getQuoteForm {

            #Content_ucF_lb {
                display: none;
            }

            .contourNavigation {
                &:after {
                    -webkit-transform: translateZ(0) rotate(45deg);
                    transform: translateZ(0) rotate(45deg);
                    -webkit-transition-duration: 0.1s;
                    transition-duration: 0.1s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                    top: 25px;
                    border-width: 3px 3px 0 0;
                }
                &:hover {
                    #Content_ucF_btnGetAQuote  {
                    background-image: $gold-background-hover;
                    }
                    &:after {
                        transform: translateX(5px) rotate(45deg);
                        -webkit-transform: translateX(5px) rotate(45deg);
                        cursor: pointer;
                    }
                }
                #Content_ucF_btnGetAQuote {
                    background-image: $gold-background;
                    color: $primary-blue;
                    border-radius: 50px;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                }
            }
        }

        .hero-trust-metrics {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;

            a {
                max-width: 180px;
            
                img {
                    z-index: 10;
                    position: relative;
                }
            }
        }

        .getQuoteForm::after {
            display: none !important;
        }
    }
}

@media screen and (min-width: 768px) {
    body .hero-banner {
        padding: 0;
        background-position: 0;
        background-size: auto 114%;

        #banner-quote {
            background: $primary-blue;
            position: relative;
            margin-left:20px;
            width: 47vw;
        }
        #banner-quote::before {
            left: -174px;
            top: 0;
            position: absolute;
            width: 0; 
            height: 0; 
            border-right: 0px solid transparent;
            border-left: 175px solid transparent;
            border-top: 491px solid $primary-blue;
            content: '';
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-banner{
        background-position: left;
    }
}

@media screen and (min-width: 1600px) {
    body .hero-banner {
        background-size: auto 36vw;
    }
}