$primary-blue: #0e3260;
$gold-background: linear-gradient(to bottom, #ffd64b, #f7b32b);
$gold-background-hover: linear-gradient(to bottom, #ffc400, #ffac00);
$font-pack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$grey-bg: #f3f3f3;
$main-container: 1280px;